:root {
  --primary-white-color: #ffffff;
  --classic-background-color: #f4f4fd;
  --adres-text-color: #434455;
  --button-color: #4D5AE5;
  --nav-log-foot-color: #2e2f42;
  --brand-color: #404bbf;
  --prymary-fonts: 'Roboto', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --cornflower,
  #E7E9FC;
}

/* base styles */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: var(--prymary-fonts, 'Roboto', sans-serif);
  height: auto;
}

img {
  display: block;
  max-width: 100%;

}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* visual hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* container */
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Top line */
.block-header {
  display: block;
  border-bottom: 1px solid #e7e9fc;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  height: 72px;
}

.navigation {
  display: flex;
  align-items: center;
  background-color: var(--primary-white-color, #ffffff);
}

.web-logo {
  display: flex;
  align-items: center;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  color: #4D5AE5;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: auto;
}

.studio-logo {
  color: var(--nav-log-foot-color, #2e2f42);
  cursor: auto;
}

.list-nav {
  display: inline-flex;
  align-items: flex-start;
  padding: 0;
  gap: 40px;
}

.link-nav {
  display: block;
  padding: 24px 0;
  color: var(--nav-log-foot-color, #2e2f42);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;

}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.adress {
  display: flex;
  align-items: center;
  font-style: normal;
}

.list-adress {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.adsress-menu {}

.adress-link {
  color: var(--adres-text-color, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.02rem;
  text-decoration: none;
  list-style: none;
  gap: 40px;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf
}

/* 
main section 
*/
.block-main {}

/* dark block section */
.sections-dark {
  padding: 188px 0;
  background: var(--nav-log-foot-color, #2e2f42);
}

.container-main {
  display: flex;
  flex-direction: column;

}

.title-major {
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-white-color, #ffffff);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  /* 107.143% */
  letter-spacing: 0.02em;
  text-align: center;
}


.major-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-bottom: 48px;
  background: var(--button-colors, #4d5ae5);
  color: var(--primary-white-color, #ffffff);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  /* 107.143% */
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
}

.major-button:hover,
.major-button:focus {
  background: var(--brand-color, #404bbf);
}


/* Fatures section */
.sections-feature {
  padding: 120px 0;
  display: block;
  background-colocolor: #ffffff;
}

.furture-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.future-list {
  display: flex;
  padding: 0%;
  margin: 0%;
  gap: 24px;
  align-content: space-between;

}

.title-future-desc {
  width: calc((100% - 72px) / 4);
}

.title-future {
  margin-bottom: 8px;
  color: var(--nav-log-foot-color, #2e2f42);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  /* 120% */
  letter-spacing: 0.02em;
  text-align: center;
}

.text-desc {
  display: flex;
  margin-top: 8px;
  text-align: start;
  color: var(--adres-text-color, #434455);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  /* 150% */
  letter-spacing: 0.02rem;
}

/* What are we doing section */
.sections-what-are {
  padding: 120px 0;
  background-color: #FFFFFF;
}

.container-what-img {
  max-width: 1158px;
  margin-top: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
}

.title-whatare-item {
  color: var(--nav-log-foot-color, #2e2f42);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
  padding: 0;
}

.block-image-what {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  padding: 0;
  gap: 24px;
}

.block-image-line {
  width: calc((100% - 48px) / 3);
}

/* Team section */
.sections-team {
  padding: 120px 0;
  background-color: #F4F4FD;
}

.container-taem {
  max-width: 1158px;
  margin-top: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
}

.title-team-list {
  margin-bottom: 72px;
  color: var(--nav-log-foot-color, #2e2f42);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-box-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.title-our-team {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.name-our-team {
  padding-top: 32px;
  padding-bottom: 32px;

}

.team-list-name {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--navy-blue);
  line-height: 1.2;
  margin-bottom: 38px;
  margin-bottom: 8px;
  text-align: center;
}

.desc-name {
  padding: 8px;
  color: var(--adres-text-color, #434455);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  /* 150% */
  letter-spacing: 0.02rem;
  text-align: center;
}


/* Footer section */
.footer {
  padding: 100px 0;
  background: var(--nav-log-foot-color, #2e2f42);
}

.container-footer {
  display: block;
  flex-direction: row;
}

.web-logo-footer {
  display: inline-block;
  color: var(--button-colors, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.studio-logo-footer {
  color: #f4f4fd;
  margin-bottom: 16px;
}

.text-desc-foot {
  display: block;
  margin-bottom: 16px;
  align-items: flex-start;
  margin-top: 17.5px;
  width: 264px;
  height: auto;
  color: var(--classic-background-color, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.02rem;
}

/* Porfolio */
/* sektion button */
.section-but-port {
  padding: 96px 0 120px 0;
  display: block;
}

.container-but-port {
  justify-content: center;
}

.button-port-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
  padding: 0;
}

.button-port-link {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: var(--prymary-fonts, 'Roboto', sans-serif);
  border: 1px solid var(--cornflower, #E7E9FC);
  color: var(--button-colors, #4d5ae5);
  background-color: var(--classic-background-color, #f4f4fd);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-port-link:hover,
.button-port-link:focus {
  color: #FFFFFF;
  background-color: #404bbf;
  border: 1px solid transparent;
}

/* Images section */


.images-list-port {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
  list-style: none;

}

.images-link-port {
  border: 1px solid var(--cornflower, #E7E9FC);
  width: calc((100% - 48px) / 3);
  list-style: none;

}

.desc-title-port {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.title-port-img {
  color: var(--nav-log-foot-color, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px
}

.text-desc-port {
  margin-top: 8px;
  color: var(--adres-text-color, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.02rem;
}