:root {
  --primary-white-color: #ffffff;
  --classic-background-color: #f4f4fd;
  --adres-text-color: #434455;
  --button-color: #4D5AE5;
  --nav-log-foot-color: #2e2f42;
  --brand-color: #404bbf;
  --prymary-fonts: 'Roboto', sans-serif;
  --title-font: 'Raleway', sans-serif;
}

/* base styles */
body {
  color: #434455;
  background-color: #ffffff;
  font-family: var(--prymary-fonts, 'Roboto', sans-serif);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  max-width: 1158px;
  margin-top: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;


}

/* Top line */
.block-heder {
  display: flex;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  height: 72px;
}

.navigation {
  display: flex;
  align-items: center;
  background-color: var(--primary-white-color, #ffffff);
}

.list-nav {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.web-logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: #4D5AE5;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.studio-logo {
  color: var(--nav-log-foot-color, #2e2f42);
}

.link-nav {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--nav-log-foot-color, #2e2f42);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  /* 150% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf
}

.adress {
  display: flex;
  align-items: center;
  font-style: normal;
}

.list-adres {
  display: flex;

}

.adress-link {
  color: var(--adres-text-color, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf
}

/* 
main section 
*/
.block-main {}

/* dark block section */
.sections-dark {
  display: block;
  padding: 188px 0;
  background: var(--nav-log-foot-color, #2e2f42);
}

.container-main {
  display: flex;
  flex-direction: column;
  align-content: center;

}

.title-major {
  margin-bottom: 48px;
  margin-left: 274px;
  margin-right: 274px;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-white-color, #ffffff);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  /* 107.143% */
  letter-spacing: 0.02em;
  text-align: center;
}


.major-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  margin-bottom: 48;
  margin-top: 152;
  background: var(--button-colors, #4d5ae5);
  color: var(--primary-white-color, #ffffff);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  /* 107.143% */
  letter-spacing: 0.04em;
  cursor: pointer;
}

.major-button:hover,
.major-button:focus {
  background: var(--brand-color, #404bbf);
}


/* Fatures section */
.sections-feature {
  display: block;
  padding: 0;
  background-color: #FFFFFF;
}

.furture-container {
  display: flex;
}

.future-list {
  display: flex;
  justify-content: space-between;
}

.title-future-desc {
  gap: 24px;
}

.title-future {
  display: flex;
  color: var(--nav-log-foot-color, #2e2f42);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  /* 120% */
  letter-spacing: 0.02em;
}

.text-desc {
  display: flex;
  margin-top: 8;
  color: var(--adres-text-color, #434455);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  /* 150% */
  letter-spacing: 0.02rem;
}

/* What are we doing section */
.section-what-are {
  display: block;
  margin: 0 auto;
  background-color: #F4F4FD;
}

.container-what-img {
  display: block;
  max-width: 1158px;
  margin-top: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  flex-direction: row;
}

.block-image-what {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}

.title-whatare-item {
  color: var(--nav-log-foot-color, #2e2f42);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.block-image-line {}

.title-team-list {
  margin-bottom: 72px;
  color: var(--nav-log-foot-color, #2e2f42);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

/* Team section */
.sections-team {
  background-color: #F4F4FD;
}

.container-taem {
  display: block;
  flex-direction: row;
  max-width: 1158px;
  margin-top: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.team-box-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.title-our-team-item {}

.text-desc-team {
  display: flex;
  margin-top: 32;
  margin-bottom: 32px;
  color: var(--adres-text-color, #434455);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  /* 150% */
  letter-spacing: 0.02rem;
}

.title-our-team {
  background-color: #FFFFFF;
}

/* Footer section */
.footer {
  background: var(--nav-log-foot-color, #2e2f42);
}

.container-footer {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  width: 1158px;
}

.web-logo-footer {
  display: flex;
  color: var(--button-colors, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.studio-logo-footer {
  color: #f4f4fd;
}

.text-desc-foot {
  display: flex;
  flex-direction: column;
  color: var(--classic-background-color, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.02rem;
}

/* Porfolio */
/* sektion button */
.button-port-link {
  color: var(--button-colors, #4d5ae5);
  background-color: var(--classic-background-color, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-port-link:hover,
.button-port-link:focus {
  color: #FFFFFF;
  background-color: #404bbf;
}

.title-port-img {
  color: var(--nav-log-foot-color, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  /* 120% */
  letter-spacing: 0.02em;

}

.text-desc-port {
  color: var(--adres-text-color, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.02rem;
}